@import "../constants";

.list1 {
  list-style: none;
  padding:0;
  margin:0;

  li {
    padding: 8px 0;
    text-indent: -25px;
  }

  li:before {
    content: "• ";
    color: $color1;
    font-size: $title;
    position: relative;
    top: 8px;
  }
}
