@import '../../../../theme/constants';
@import '../../../../theme/icons/icons';

.block2 {
  padding: $padding1;

  .title {
    color: $color2;
    font-size: $subtitle;
    font-family: $font2;
    width: 100%;
    text-align: center;
    top: 50%;
    position: absolute;
    line-height: $subtitle;
  }

  .iconBase1 {
    margin-top: 200px;
    top: -10%;
    left: 37%;
  }

  .icon4 {
    position: absolute;
    top: 70%;
    left: 49%;

    svg {
      width: 20px;
      height: 20px;

      polyline {
        stroke: $color2;
        stroke-width: 2;
      }
    }
  }
}
