@import '../../../../theme/constants';
// ********** Control variables *********************
// - General -
$height: 100px;
$background-color: $white;
// - links -
$link-color: $gray;
$hover-color: $darkGray!important;
$active: $color2;
// - social media
$sm-background: $gray;
$sm-background-hover: $darkGray;
$sm-color: $white;
$sm-color-hover: $white;
// - responsive
$bar-color: $black;
$collapse-border-color: $black;
$hamburger-background: darken($white, 10%)!important;


.navbarWrapper {
  height: $height;
}
// ********** The full navbar *********************
.navbarDefault {
  @include border-radius(0);
  height: $height;
  background-color: $background-color!important;
  border: none!important;
  margin-bottom: 0;
}
// ********** Navbar Header consists in mobile button and brand image *********************
.navbarHeader {
  height: $height;
  position: relative;
}
.navbarBrand {
  margin-left: 0!important;
  padding: 0;
  @extend .vCenter;
  @extend .icon-sprites;
  @include sprite($sprites-brand);
  left: 0;

  @media#{$isTablet} {
    width: 100px;
  }

  @media#{$isPhone} {
    width: 100px;
  }
}
.toggleButton{
  @extend .vCenter;
  margin: 0;
  right: 15px;
  border: none;
  .iconBar{
    background-color: $bar-color!important;
  }
  &:hover, &:focus{
    background-color: $hamburger-background;
  }
}
// ********** Navbar Collapse contains the elements that will hide when on mobile size *********************
.navbarCollapse{
  float: right;
  border: none;
  padding-right: 0;
  padding-left: 0;
  background: $background-color;
}
.navbarNav {
  >li{
    height: $height;
  }
  li.active {
    a {
      color: $active;
      border-left-color: $active;
      border-right-color: $active;
      z-index: 1000;
    }
  }
}
.navbarNavAnchor {
  font-family: $font1;
  font-weight: 300;
  border-left: 1px solid $color1;
  margin-left: -1px;
  padding-top: 13px!important;
  padding-bottom: 13px!important;
  font-size: 17px;
  color: $color1;
  text-transform: uppercase;
  @extend .vCenter;
  &:hover, &:focus {
    color: $color2;
    background-color: transparent!important;
  }
}

.navbarIcons {
  margin: 0;
  float: right;
  height: $height;
  padding: 0;
  position: relative;
  li{
    height: $height;
    position: relative;
    display: inline-block;
    list-style: none;
    .sm_icon {
      padding: 0 0 0 10px;
      display: block;
      @extend .vCenterRel;
      svg {
        position: relative;
        circle{
          fill: $sm-background;
        }
        path{
          fill: $sm-color;
        }
      }
      .facebook{
        &:hover{
          circle {
            fill: #3b5998;
          }
          path {
            fill: #fff;
          }
        }
      }
      .twitter{
        &:hover{
          circle {
            fill: #55acee;
          }
          path {
            fill: #fff;
          }
        }
      }
      .pinterest{
        &:hover{
          circle {
            fill: #cb2027;
          }
          path {
            fill: #fff;
          }
        }
      }
      .instagram{
        &:hover{
          circle {
            fill: #125688;
          }
          path {
            fill: #fff;
          }
        }
      }
    }
  }
}
@media#{$isTablet}{
  .navbarBrand{
    left: 15px;
  }
  .navbarNav {
    margin-right: 10px!important;
  }
  .navbarBrand {
    left: 15px;
  }
  .navbarIcons {
    padding-right: 10px;
  }
}
@media#{$isPhone}{
  .navbarBrand{
    left: 15px;
  }
  .navbarCollapse{
    position: relative;
    z-index: 1000;
    float: none;
    border-bottom: 1px solid $collapse-border-color;
    border-top: 2px solid $collapse-border-color;
    li {
      height: auto;
      padding: 15px 0;
    }
  }
  .navbarIcons{
    display: none;
  }
  .navbarNav {
    float: none!important;
    margin: 0;
    position: relative;
    li{
      padding: 10px 0;
    }
    .navbarNavAnchor{
      position: relative;
      @include transform(translateY(0));
      top: 0;
    }
  }
}
