.buttonBase1 {
  display: inline-block;
  color: $white;
  font-family: $font2;
  font-size: $normal;

  svg {
    position: relative;
    stroke-width: 3px;
  }

  &:hover {
    cursor: pointer;
  }
}

.button1 {
  @extend .buttonBase1;
  background: $color1;
  font-family: $font1;
  padding: 8px 40px 8px 40px;

  svg {
    left: 45%;
  }
  &:hover {
    color: $white;
    background: lighten($color1, 5%);
  }
}

.button2 {
  @extend .buttonBase1;
  background: $color2;
  font-family: $font1;
  padding: 8px 50px 8px 25px;

  svg {
    left: 20%;

    polyline {
      stroke: $color1;
    }
  }
}
