@import '../../../../theme/constants';
@import '../../../../theme/titles/titles';
@import '../../../../theme/icons/icons';

.block2 {
  padding: $padding2;

  .icon5 {
    left: 35%;
    top: 50px;

    @media#{$isPhone} {
      left: 15%;
      top: -25%;
    }
  }

  .title8 {
    width: 100%;
    text-align: center;
    margin-top: 150px;
  }
}
