@import '../../../../theme/constants';
@import '../../../../theme/titles/titles';
@import '../../../../theme/icons/icons';
@import '../../../../theme/lists/lists';

.block3 {
  padding: $padding1;
  background-color: $color4;

  .iconWrapper {
    min-height: 500px;

    @media#{$isPhone}{
      min-height: 330px;
    }
  }

  .icon25 {
    top: 28%;
    left: 33%;

    @media#{$isTablet} {
      top: 25%;
      left: 27%;
    }
  }

  .title8 {
    width: 100%;
    text-align: center;
    margin-top: 60%;

    @media#{$isPhone} {
      margin-top: inherit;
    }

    @media#{$isTablet} {
      margin-top: 70%;
    }
  }
}
