$sprites-Focus-icon-apoyologistico: -320px -0px 140px 118px;
$sprites-Focus-icon-focusgroups: -0px -219px 140px 118px;
$sprites-Focus-icon-somos: -0px -100px 239px 119px;
$sprites-pregunta: -320px -118px 81px 93px;
$sprites-brand: -0px -0px 320px 100px;
@mixin sprite-width($sprite) {
  width: nth($sprite, 3);
}
@mixin sprite-height($sprite) {
  height: nth($sprite, 4);
}
@function sprite-width($sprite) {
   @return nth($sprite, 3);
}
@function sprite-height($sprite) {
   @return nth($sprite, 4);
}
@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 1);
  $sprite-offset-y: nth($sprite, 2);
  background-position: $sprite-offset-x $sprite-offset-y;
}
@mixin sprite($sprite, $display: block) {
   @include sprite-position($sprite);
  background-repeat: no-repeat;
  overflow: hidden;
  display: $display;
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

.icon-sprites {
  background-image: url('/images/sprites/sprite-sprites.png');
}
