@import '../../../../theme/constants';
@import '../../../../theme/titles/titles';
@import '../../../../theme/buttons/buttons';

.block7 {
  padding-bottom: 100px;

  .title6 {
    padding-top: 23px;

    @media#{$isPhone} {
      margin-bottom: 20px;
    }

    p {
      padding-top: 15px;
    }

    a {
      margin-top: 50px;
    }

    svg {
      left: 15%;

      polyline {
        stroke: #fff;
        stroke-width: 1px;
      }
    }
  }

  .button1 {
    @media#{$isPhone} {
      margin-bottom: 20px;
    }
  }
}
